# **LOOPING STATEMENTS EXERCISE**

### 1. Print -10 to -1 using for loop

In [2]:
for i in range(-10, 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

### 2. Using while loop print numbers 1 to 10

In [5]:
i = 1

while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

### 3. Using for loop print first ten even numbers

In [9]:
for i in range(10, 101, 10):
    print(i)

10
20
30
40
50
60
70
80
90
100

### 4. Using while loop generate the table of 5

In [3]:
i = 0

while i <= 10:
    print(f"5 x {i} = {5*i}")
    i += 1

# with function and input
# def tableOf(n):
#     i = 0
#     while i <= 10:
#         print(f"{n} x {i} = {n*i}")
#         i += 1

# number = input("input any number : ")
# tableOf(float(number))

9.0 x 0 = 0.0
9.0 x 1 = 9.0
9.0 x 2 = 18.0
9.0 x 3 = 27.0
9.0 x 4 = 36.0
9.0 x 5 = 45.0
9.0 x 6 = 54.0
9.0 x 7 = 63.0
9.0 x 8 = 72.0
9.0 x 9 = 81.0
9.0 x 10 = 90.0

### 5. Using for loop generate the table of 8

In [12]:
for i in range(10):
    print(f"8 x {i} = {8*i}")

8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

### 6. For numbers 1 to 100, if a number is divisible by 3, then print Fizz.
### If a number is divisible by 5, then print Buzz.
### If a number is divisible by 3 and 5 both, then print FizzBuzz
### If a number is neither divisible by 3 or 5, just print the number.

Hint: use range(1,101) function  to generate numbers from 1 to 100

In [13]:
for i in range(1,101):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [1]:
for i in range(100):
    if i > 30 and i % 2 != 0:
        print('ok')
    else:
        print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
ok
32
ok
34
ok
36
ok
38
ok
40
ok
42
ok
44
ok
46
ok
48
ok
50
ok
52
ok
54
ok
56
ok
58
ok
60
ok
62
ok
64
ok
66
ok
68
ok
70
ok
72
ok
74
ok
76
ok
78
ok
80
ok
82
ok
84
ok
86
ok
88
ok
90
ok
92
ok
94
ok
96
ok
98
ok

In [4]:
for i in range(1, 50):
    powerOfTwo = 2 ** i
    if i == powerOfTwo:
        print("ok")
    else:
        print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [8]:
def calculateBro(e):
    hasil = []
    a = 0
    while a <= 1000:
        FA = (a ** 2) - (e ** 3) + a/10
        if(FA >= 30):
            break
        else:
            hasil.append(FA)
            print(hasil)
        a +=1
    
e = float(input("Input number of e : "))    
calculateBro(e)

[-27.0]
[-27.0, -25.9]
[-27.0, -25.9, -22.8]
[-27.0, -25.9, -22.8, -17.7]
[-27.0, -25.9, -22.8, -17.7, -10.6]
[-27.0, -25.9, -22.8, -17.7, -10.6, -1.5]
[-27.0, -25.9, -22.8, -17.7, -10.6, -1.5, 9.6]
[-27.0, -25.9, -22.8, -17.7, -10.6, -1.5, 9.6, 22.7]

### 7.  Using the range function find the sum of all numbers from 1 to 100.
    For the numbers in the range (1,100):1+2+3+4+5......+100 = 5050

In [15]:
sum_numbers = 0

for i in range(1, 101):
    sum_numbers += i

sum_numbers

5050

### 8. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 202 and 320 (both included).

In [16]:
for i in range(202, 321):
    if i % 7 == 0 and i % 5 != 0:
        print(i)

203
217
224
231
238
252
259
266
273
287
294
301
308

### 9. Python Program to count the number of vowels in a string.
st = "Data Science"

Output: No of vowels = 5

In [22]:
# declaration
st = "Data Science"
vowels = ['a','i','u','e','o']
number_of_vowels = 0

# calculate
for char in st:
    if char.lower() in vowels:
        number_of_vowels += 1
    
number_of_vowels

5

### 10. Print Data Science 5 times using for loop

In [17]:
for i in range(5):
    print("Data Science")

Data Science
Data Science
Data Science
Data Science
Data Science