# **INTRO TO VARIABLE EXERCISE**

### 1. What will be the type of the *add* variable?
a = 10

b = 5.1

add = a + b

In [1]:
a = 10 # data type = int
b = 5.1 # data type = float

# add the a and b
add = a + b
add

15.1

In [2]:
type(add)

float

### 2. Is 5 == (3+2)?

In [4]:
isEqual = 5 == (3+2)
isEqual

True

### 3. Add 33 in variable *a* and print the result

a = 3

In [6]:
a = 3
a += 33 # a = a + 33

a

36

### 4. Convert integer variable *a* to float and check its type

a = 3

In [7]:
# declaration variable
a = 3

# conversion from integer to float
a = float(a)

In [8]:
# check its data type of a after conversion
type(a)

float

### 5. What will be 5 times *a* if the value of a is 10?

In [9]:
# declaration variable
a = 10

multiple = a * 5
multiple

50

### 6. Write a program to calculate the area of a triangle with base = 10 and height = 5

Hint : area of triangle = 1/2 * base * height

In [10]:
# declaration variables
base = 10
height = 5

# calculate the area of a triangle
triangle_area = base * height * 0.5

triangle_area

25.0

### 7. What will be the value of *z* in the following expression:

z = (v + w) * (x / y)

If 

v = 10

w = 25

x = 70

y = 2

In [11]:
# declaration variables
v = 10
w = 25
x = 70
y = 2

# calculate
z = (v + w) * (x / y)

z

1225.0

### 8. Swap values of *a* and *b* 
If before swapping a = 10 and b = 5

Then after swapping a = 5 and b = 10
##### Values can not be hardcoded

In [12]:
# declaration variables
a = 10
b = 5
temp = 0

print(f"Value before swapping, a = {a} and b = {b}")

Value before swap of a and b is, a = 10 and b = 5

In [13]:
# swap the value 
temp = a
a = b
b = temp

print(f"Value after swapping, a = {a} and b = {b}")

Value after swapping, a = 5 and b = 10

### 9. Convert 35 degree Celsius temperature to Fahrenheit

In [14]:
# declaration variables 
celsius = 35

# conversion to fahrenheit
fahrenheit = (9 / 5) * celsius + 32

fahrenheit

95.0